$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1,
h4 {
  text-align: center;
}

.box {
  border: 1px solid;
  height: 50px;
  margin: 0;
}

div {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

// div {
//   background-size: cover;
// }
