$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


h1,
h4 {
  margin: 30px;
  text-align: center;
}

.box {
  border: 1px solid;
  height: 50px;
  margin: 0;
}

div {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.btn-success {
  margin-top: 40px;
}

// ignoring linter error because grunt deploy gives error when the
//  full url isn't listed
.x-background {
  background-image: url('https://i.imgur.com/x11i6uK.png');
}

.o-background {
  background-image: url('https://i.imgur.com/jhQrbgc.png');
}
